aiocsv==1.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.2.25
confluent-kafka==2.13.2
frozenlist==1.8.0
idna==3.11
influxdb-client==1.50.0
ipykernel==7.3.0
jupyter==1.1.1
matplotlib==3.11.1
multidict==6.7.1
nats-py==2.14.0
nbconvert==7.17.1
numpy==2.5.2
pandas==3.0.5
propcache==0.4.1
py4j==0.10.9.9
pyspark==4.1.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
reactivex==4.1.0
seaborn==0.13.2
six==1.17.0
typing_extensions==4.15.0
urllib3==2.6.3
yarl==1.23.0
